body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: yellow; /* Ganti latar belakang body menjadi biru */
    color: white; /* Ganti warna tulisan body menjadi putih */
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white; /* Ganti latar belakang container menjadi biru */
    color: black; /* Ganti warna tulisan container menjadi putih */
}

.form {
    margin-top: 20px;
    display: none;
}

button {
    margin-top: 10px;
}
